* {
  background: teal;
  color: white;
}
.container {
  border: 2px solid white;
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
  align-items: center;
  font-size: 18px;
}
input {
  margin: 20px;
  border: 2px solid white;
  padding: auto;
  font-size: 18px;
}
button {
  padding: auto;
  border: 2px solid white;
  font-size: 18px;
}
ul {
  margin: 20px;
}
ul li {
  list-style: none;
  border: 1px solid white;
  padding: 10px;
}
